/*----- 01 CUSTOM PROPERTIES-----*/
:root {
  --white-f: #ffffff;
  --black-0: #000000;
  --black: #050505;
  --black-2: #1d1d1d;
  --orange: #f2584c;

  // FONTS
  --tnr: "Times New Roman MT", "Times New Roman", Times, serif;

  //Raduis
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-round: 50%;
}
