/*----- 01 CUSTOM PROPERTIES-----*/
:root {
    --white-f: #ffffff;
    --black-0: #000000;
    --black: #050505;
    --black-2: #1d1d1d;
    --primary:#6B8E23;
    --orange: #F2584C;


    // FONTS
   
    --tnr: "Times New Roman MT", "Times New Roman", Times, serif;
}